<left>

    <h2 class="github-title">GitHub Repo</h2>

    <h3 class="github-title">AWS Kubeflow Workshop</h3>
    <a class="github-button" href="https://github.com/PipelineAI/aws-kubeflow-workshop.git" data-icon="octicon-star" data-show-count="true" aria-label="Star PipelineAI/aws-kubeflow-workshop on GitHub">Star</a>
    &nbsp;<a class="github-button" href="https://github.com/PipelineAI/aws-kubeflow-workshop/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork PipelineAI/aws-kubeflow-workshop on GitHub">Fork</a>

</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
